.root {
  padding: 0px 20px;
  padding-bottom: 40px;
}

@media (min-width: 769px) {
  .root {
    padding: 0px 40px;
    padding-bottom: 40px;
  }
}

.containerTitle {
  padding: 35px 0px;
}
@media (min-width: 769px) {
  .containerTitle {
    padding: 50px 0px;
    text-align: center;
  }
}
